/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* Asterisk wild card selector to override the default styles applied by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic  project style*/
    background-color: #222222;
    color: #ffffff;
    padding: 0 2%;
    font-size: 1.3rem;
    font-family: 'Alegreya Sans', sans-serif;
}

button {
    margin-right: 20px;
    padding: 12px;
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="number"],
input[type="date"],
select {
    padding: 14px;
    margin-right: 20px;
    width: 20%;
    border-radius: 6px;
    font-size: 1rem;
    color: #222222;
}

table {
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 20px;
    font-size: 1.4rem;
}

th,
td {
    border: 1px solid #52525b;
    padding: 14px;
    text-align: left;
}

th {
    background-color: #3f3f46;
    color: #fff;
}

/* Header*/
header {
    width: 100%;
    margin-top: 1rem;
    font-style: italic;
}

#title>span {
    color: #4296F5;
}

/* Main Content*/
main {
    /* Make main element take any surplus space to push footer down. This property sets flex grow,shrink and basis*/
    flex: 1 0 auto;
}

#expense-container {
    display: flex;
    margin-top: 1rem;
}

#add-expense-button {
    background-color: #27a20e;
}

#add-expense-button:hover {
    background-color: #5ec24b;
}

#search-container {
    padding-top: 10px;
}

#search-container>span {
    font-weight: 500;
}

#label {
    display: flex;
}

#label>div {
    width: 20%;
    margin-right: 22px;
    margin-top: 1rem;
}

#search-elements {
    display: flex;
}

#search-button {
    background-color: #3B82F6;
}

#search-button:hover {
    background-color: #679cf0;
}

#edit-button {
    background-color: #3B82F6;
}

#edit-button:hover {
    background-color: #679cf0;
}

#remove-button {
    background-color: #c81a40;
}

#remove-button:hover {
    background-color: #da385b;
}

#summary-button {
    background-color: #ac2ad0;
}

#summary-button:hover {
    background-color: #ba52d7;
}

#summaryContainer {
    margin-top: 13px;
    display: none;
}

#summaryContainer>p {
    color: #4296F5;
    font-weight: 600;
    font-size: 1.6rem;
}